extends layout

mixin conversion(c)
    div.card.mr-2(style="width: 18rem;")
        div.card-body
            h5.card-title= c.title
            p.card-text= c.text
            a(href="#", class="btn white-text indigo", data-toggle="modal", data-target= "#"+c.id) Realizar conversión

mixin modals(c)
    div(class="modal fade", id= c.id, tabindex="-1", role="dialog", aria-hidden="true")
        form(method="POST" , enctype="multipart/form-data", action=c.action)
            div(class="modal-dialog modal-dialog-centered",role="document")
                div.modal-content
                    div.modal-header
                        h3.modal-title#exampleModalLongTitle= c.title
                        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                    div.modal-body 
                        h5 Elige el archivo que deseas convertir
                        div(class="input-group")
                            div(class="input-group-prepend")
                                span(class="input-group-text") 
                            div(class="custom-file")
                                input(type="file",class="custom-file-input",lang="es", name="upload", accept=c.files)
                                label(class="custom-file-label") ...
                    div.modal-footer
                        button(type="button", class="btn btn-secondary", data-dismiss="modal") Cerrar
                        button(type="submit", class="btn btn-primary form-submit") Enviar

block head
    script(type="text/javascript",src='/js/conversion.js')


block header
    - 
        const cards = [
            {id:"id1",title:"Convertidor Imagen a PDF",text:"Convierta cualquier tipo de imagen en un archivo PDF.",action:"conversion/image", files:"image/x-png,,image/jpeg"},
            {id:"id2",title:"Convertidor de Audio",text:"Convierta archivos de audio a uno de los diferentes formatos disponibles.",action:"conversion/audio", files:"audio/*"},
            {id:"id3",title:"Convertidor de Video",text:"Convierta archivos de video a uno de los diferentes formatos disponibles.",action:"conversion/video", files:"video/*"}
        ]
    
    for c in cards
        +conversion(c) 
        +modals(c)